.open_menu {
  display: none; }
  .open_menu .open_mob_menu {
    background: url("../img/header/mob_open.png") no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    margin: 15px 20px 15px 0; }

.mobile_menu {
  position: relative;
  display: none;
  clear: both; }
  .mobile_menu .side-left {
    background: #1d4275;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 0;
    width: 50%; }
    .mobile_menu .side-left ul li {
      padding: 15px; }
      .mobile_menu .side-left ul li a {
        font-size: 24px;
        color: #ffffff;
        text-decoration: none; }
      .mobile_menu .side-left ul li a:hover {
        color: #c5203d; }
    .mobile_menu .side-left .mob_soc {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .mobile_menu .side-left .mob_soc li {
        padding: 15px; }
  .mobile_menu .side-right {
    background: #c5203d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0.8;
    padding: 50px 0;
    width: 50%; }
    .mobile_menu .side-right ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .mobile_menu .side-right ul li {
        border: 2px solid #ffffff;
        border-radius: 50px;
        width: 100px;
        height: 100px;
        margin-right: 27px;
        margin-top: 20px;
        -webkit-transition: all 0.5s;
        transition: all 0.5s; }
        .mobile_menu .side-right ul li a {
          text-transform: uppercase;
          text-decoration: none;
          color: #ffffff;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          width: 100%;
          height: 100%; }
      .mobile_menu .side-right ul li:hover {
        border-color: #ffffff;
        background: #1d4275; }
        .mobile_menu .side-right ul li:hover a {
          color: #ffffff; }
